<div class="d-flex justify-content-center">
  <div class="p-2">
    <h3 style="color:white;">Edit Certification</h3>
  </div>
</div>

<form action="/certs/<%= @cert.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <div class="container">
      <div class="form-group">
        <label for="cert_name" style="color:white;">Cerification Type:</label>
        <input type="text" name="cert_name" id="cert_name" class="form-control" value="<%= @cert.cert_name %>">
      </div>
      <div class="form-group">
        <label for="cert_number" style="color:white;">Cerification Number(optional):</label>
        <input type="text" name="cert_number" id="cert_number" class="form-control" value="<%= @cert.cert_number %>">
      </div>
      <div class="form-group">
        <label for="exp_date" style="color:white;">Expiration Date:</label>
        <input type="text" name="exp_date" id="exp_date" class="form-control" value="<%= @cert.exp_date %>">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Edit Certification</button>
      </div>
    </div>
</form>
