<h2 style="color:white;">Create a Certification:</h2>

<form action="/certs" method="post">
  <div class="container">
    <div class="form-group">
      <label for="cert_name" style="color:white;">*Cerification Type:</label>
      <input type="text" name="cert_name" id="cert_name" class="form-control" placeholder="EMT, Paramedic, CPR, ACLS, etc..">
    </div>
    <div class="form-group">
      <label for="cert_number" style="color:white;">Cerification Number(optional):</label>
      <input type="text" name="cert_number" id="cert_number" class="form-control" placeholder="1234">
    </div>
    <div class="form-group">
      <label for="exp_date" style="color:white;">*Expiration Date:</label>
      <input type="text" name="exp_date" id="exp_date" class="form-control" placeholder="mm/dd/yyyy">
    </div>
    <p style="color:white;">* = Required Fields</p>
    <div>
      <button type="submit" class="btn btn-primary">Create Certification</button>
    </div>
  </div>
</form>
