<h2>Edit Profile:</h2>

<form action="/users/<%= @user.username %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <div class="container">
      <div class="form-group">
        <label for="fullt_name">Full Name:</label>
        <input type="text" name="full_name" id="full_name" class="form-control" value="<%= @user.full_name %>">
      </div>
      <div class="form-group">
        <label for="provider_level">Choose a Provider Level:</label>
        <select id="provider_level" name="provider_level" class="form-control">
          <option>EMT-Basic</option>
          <option>EMT-Intermediate</option>
          <option>Paramedic</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="form-control" value="<%= @user.email %>">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Edit Profile</button>
      </div>
    </div>
</form>
