<div class="d-flex justify-content-center">
  <div class="p-2">
    <h3 style="color:white;">Log In</h3>
  </div>
</div>

<form action="/login" method="post">
  <div class="container">
    <div class="form-group">
      <label for="username" style="color:white;">Username:</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="John123">
    </div>
    <div class="form-group">
      <label for="password" style="color:white;">Password:</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="********">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
  </div>
</form>
