<h2>Welcome, <%= @user.username %>!</h2>


<a href="/logout"><button type="button" class="btn btn-primary">Log Out</button></a>
<a href="/certs/new"><button type="button" class="btn btn-primary">Create Certification</button></a>
<a href="/certs"><button type="button" class="btn btn-primary">My Credential Record</button></a>
