<div class="container-fluid">
  <h2 style="color:white;">Welcome to See My Certs!</h2>
</div>
<div class="container-fluid">
  <p style="color:white;">This is an application that allows a user to safely store all of their professional healthcare certifications in one spot. Gone are the days of having to photocopy and laminate cards just to have them get damaged over time or lose them all together. Now, when you are approached by an inspectpor and he asks to see your credentials, you can simply pull out your phone, open "See My Certs" and present all of your up-to-date certifications. This easy to use application saves time, saves money, and most importantly, could save your job!!</p>
</div>
